@font-face {
    font-family: abc;
    src: url(../../../../assets/fonts/ABCFavorit-Regular-Trial.otf) format("opentype");
}

* {
    font-family: "abc", "arial", sans-serif;
}

// ------------------------------------- First section -------------------------------------
.firstSec {
    @media (max-width: 2000px) and (min-width: 950px) {
        background-image: url("../../../../assets/images/SportsClient/test\ headerv2.png");
        background-size: cover;
    }
    @media (max-width: 950px) and (min-width: 320px) {
        background-image: url("../../../../assets/images/SportsClient/header\ mobile.png");
        background-size: cover;
        background-repeat: round;
        height: 550px;
    }
    @media (max-width: 320px) {
        background-image: url("../../../../assets/images/SportsClient/header\ mobile.png");
        background-size: cover;
        background-repeat: round;
    }

    @media (max-width: 2000px) and (min-width: 1200px) {
        height: 1130px;
    }
    @media (max-width: 1200px) and (min-width: 720px) {
        height: 1130px;
    }
    @media (max-width: 720px) {
        height: 550px;
    }

    background-color: white;
}
.firstSec .txts {
    padding-left: 50px;

    @media (max-width: 2000px) and (min-width: 720px) {
        padding-right: 110px;
        font-size: 60px;
        text-align: end;
    }

    @media (max-width: 720px) {
        padding-right: 50px;
        text-align: center;
    }

    @media (max-width: 2000px) and (min-width: 1000px) {
        margin-top: 20%;
    }

    @media (max-width: 1000px) {
        margin-top: 20%;
    }
}

.firstSec .transLbl {
    color: #ffffff;
    @media (max-width: 2000px) and (min-width: 720px) {
        font-size: 60px;
        text-align: end;
    }

    @media (max-width: 720px) {
        font-size: 30px;
        text-align: center;
    }
}
.firstSec .chngLbl {
    letter-spacing: 0.05em;
    color: #ffffff;
    font-weight: bold;

    @media (max-width: 2000px) and (min-width: 720px) {
        font-size: 85px;
        text-align: end;
    }

    @media (max-width: 720px) and (min-width: 500px) {
        font-size: 60px;
        text-align: center;
    }

    @media (max-width: 500px) {
        font-size: 35px;
        text-align: center;
    }
}
.firstSec .prph {
    color: #ffffff;

    @media (max-width: 2000px) and (min-width: 720px) {
        font-size: 18px;
        text-align: end;
    }

    @media (max-width: 720px) {
        font-size: 16px;
        text-align: center;
    }
}
.firstSec .lrnMoreBtn {
    background-color: transparent;
    color: #ffffff;
    border: 1px solid #ffffff;

    @media (max-width: 2000px) and (min-width: 720px) {
        padding: 7px 50px;
        font-size: 21px;
        margin-top: 35px;
    }

    @media (max-width: 720px) {
        font-size: 18px;
        text-align: center;
        margin-top: 25px;
    }
}
// ------------------------------------- Second section ------------------------------------
.secondSec {
    padding-top: 50px;
    padding-bottom: 50px;

    background-color: white;
}

.secondSec .sprtsLbl {
    font-size: 30px;
    letter-spacing: 0.02em;
    color: #000000;

    @media (max-width: 720px) {
        font-size: 23px;
        text-align: center;
    }
}

.secondSec .enhLbl {
    font-size: 45px;
    letter-spacing: 0.02em;
    color: #c94634;
    font-weight: bold;

    @media (max-width: 720px) {
        font-size: 23px;
        text-align: center;
    }
}

.secondSec .prph {
    color: #111111;
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
}

.secondSec .vid {
    width: 100%;
    height: 350px;
}

// ------------------------------------- Third section -------------------------------------
.thirdSec {
    padding-top: 40px;
    padding-bottom: 40px;

    background-color: white;
}

.thirdSec .head {
    font-weight: bold;
    font-size: 45px;
    color: #c94634;
    margin-bottom: 50px;

    @media (max-width: 720px) {
        font-size: 23px;
    }
}
.thirdSec .box {
    background: #ffffff;
    border: 1px solid #cd5141;
    box-sizing: border-box;
    border-radius: 5px;
    width: 300px;
    display: inline-block;
    font-size: 23px;
    padding: 50px 15px;
    margin-right: 10px;
    margin-bottom: 20px;
    font-family: "Open Sans", sans-serif;
}
.thirdSec .boxesInfo {
    width: 100%;
}
.thirdSec .box:hover {
    background-color: #cd5141;
    color: white;
}

.thirdSec .frmBtn {
    background-color: #cd5141;
    color: #ffffff;
    border: 1px solid #cd5141;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: "Open Sans", sans-serif;
    margin-top: 30px;

    @media (max-width: 2000px) and (min-width: 820px) {
        padding: 7px 50px;
        font-size: 21px;
    }

    @media (max-width: 820px) {
        margin-top: 65px;
    }
}
.thirdSec .frmBtn:hover {
    color: #cd5141;
    background-color: #ffffff;
}

.thirdSec .carousel {
    margin: auto;
}
.thirdSec .carousel .carousel-indicators {
    position: absolute;
    bottom: -50px;
}
.thirdSec .carousel .carousel-indicators li {
    background: #c4c4c4;
    width: 12px;
    height: 0;
    border-radius: 50%;
}
.thirdSec .carousel .carousel-indicators li.active {
    background-color: #cd5141;
    height: 0;
}

.thirdSec .carousel .carousel-inner .carousel-item {
    background: #ffffff;
    box-sizing: border-box;
    // padding: 10px 50px;
    font-family: "Open Sans", sans-serif;
    width: 100%;
}

.thirdSec .carousel .carousel-inner .carousel-item .boxSlider {
    margin: auto;
    border: 1px solid #cd5141;
    border-radius: 5px;
    width: 60%;
    // height: 200px;
    min-height: 150px;
    padding: 10px;
}

.thirdSec .carousel .carousel-inner .carousel-item .boxSlider p {
    color: #000000;
    font-size: 23px;
    text-align: center;
    height: 75%;
    margin-bottom:0;
}
// ------------------------------------- Fourth section -------------------------------------
.fourthSec {
    padding-top: 70px;
    padding-bottom: 70px;
    background: #f7f7f7;
}

.fourthSec .drLbl {
    font-size: 30px;
    color: #000000;

    @media (max-width: 2000px) and (min-width: 720px) {
        font-size: 30px;
    }

    @media (max-width: 720px) {
        font-size: 25px;
    }
}

.fourthSec .winLbl {
    color: #c94634;
    font-weight: bold;

    @media (max-width: 2000px) and (min-width: 720px) {
        font-size: 45px;
    }

    @media (max-width: 720px) {
        font-size: 23px;
    }
}

.fourthSec .prph {
    font-family: "Open Sans", sans-serif;
    margin-top: 30px;

    @media (max-width: 2000px) and (min-width: 720px) {
        font-size: 18px;
    }

    @media (max-width: 720px) {
        font-size: 16px;
    }
}
.fourthSec .prph .drName {
    color: #cd5141;
    cursor: pointer;
    border-bottom: 1px solid;
}

.fourthSec .imgsInfo {
    width: 100%;
}
.fourthSec .imgsInfo .imgInfo {
    margin: 20px;
    width: 150px;

    @media (max-width: 720px) and (min-width: 375px) {
        margin: 10px;
        width: 95px;
    }
    @media (max-width: 375px) {
        margin: 10px;
        width: 60px;
    }
}
// ------------------------------------- Fifth section -------------------------------------
.fifthSec {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: white;
}

.fifthSec .head {
    font-weight: bold;
    font-size: 45px;
    color: #c94634;
    // margin-bottom: 50px;

    @media (max-width: 720px) {
        font-size: 23px;
    }
}
.fifthSec .boxesInfo {
    width: 100%;
}
.fifthSec .card {
    border-radius: 5px;
    margin-right: 30px;
    margin-bottom: 20px;
    width: 100%;
    height: 550px;
    width: 95%;
    margin: auto;
    margin-bottom: 20px;

    @media (max-width: 768px) and (min-width: 720px) {
        height: 350px;
    }
    @media (max-width: 720px) and (min-width: 600px) {
        margin: auto;
        margin-bottom: 20px;
        width: 45%;
        height: 450px;
    }
    @media (max-width: 600px) and (min-width: 350px) {
        margin: auto;
        margin-bottom: 20px;
        width: 55%;
        height: 540px;
    }
    @media (max-width: 350px) {
        margin: auto;
        margin-bottom: 20px;
        width: 90%;
        height: 480px;
    }
}
.fifthSec .card img {
    max-height: 180px;
}

.fifthSec .card .card-body .card-title {
    font-weight: bold;
    font-size: 23px;
    color: #cd5141;
    text-align: left;
    margin-bottom: 25px;
    height: 80px;

    @media (max-width: 1150px) and (min-width: 900px) {
        font-size: 17px;
    }
    @media (max-width: 900px) and (min-width: 350px) {
        font-size: 15px;
        height: 30px;
    }
    @media (max-width: 350px) {
        font-size: 14px;
        height: 30px;
    }
}
.fifthSec .card .card-body .card-text {
    font-size: 18px;
    color: #000000;
    text-align: left;

    @media (max-width: 1150px) and (min-width: 900px) {
        font-size: 15px;
    }
    @media (max-width: 900px) and (min-width: 720px) {
        font-size: 14px;
    }
}

.fifthSec .frmBtn {
    background-color: #cd5141;
    color: #ffffff;
    border: 1px solid #cd5141;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: "Open Sans", sans-serif;
    margin-top: 30px;

    @media (max-width: 2000px) and (min-width: 820px) {
        padding: 7px 50px;
        font-size: 21px;
    }

    @media (max-width: 820px) {
        margin-top: 65px;
    }
}
.fifthSec .frmBtn:hover {
    color: #cd5141;
    background-color: #ffffff;
}

// slider
.fifthSec .carousel .carousel-indicators {
    position: absolute;
    bottom: -50px;
}
.fifthSec .carousel .carousel-indicators li {
    background: #c4c4c4;
    width: 12px;
    height: 0;
    border-radius: 50%;
}
.fifthSec .carousel .carousel-indicators li.active {
    background-color: #cd5141;
}

.fifthSec .carousel .carousel-inner .carousel-item {
    background: #ffffff;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 20px 10px;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
}

.fifthSec .carousel .carousel-inner .carousel-item p {
    color: #000000;
}

.fifthSec .carousel-control-prev-icon {
    background-color: #cd5141;
}

.fifthSec .carousel-control-next-icon {
    background-color: #cd5141;
}
// ------------------------------------- Sixth section -------------------------------------
.sixthSec {
    padding-top: 0px;
    padding-bottom: 40px;
}
.sixthSec .tenis {
    @media (max-width: 2000px) and (min-width: 720px) {
        padding-left: 0;
    }

    @media (max-width: 720px) {
        padding-left: 0;
        padding-right: 0;
    }
}
.sixthSec img {
    width: 100%;
    z-index: 999;
}

.sixthSec .box {
    background-color: #f6f6f6;
    z-index: -5;
    @media (max-width: 2000px) and (min-width: 1250px) {
        padding: 120px;
        margin-top: 8%;
        margin-left: -35px;
    }
    @media (max-width: 1250px) and (min-width: 770px) {
        padding: 100px;
        margin-top: 0%;
        margin-left: -35px;
    }

    @media (max-width: 770px) {
        padding: 40px;
        margin: 15px;
        margin-top: -30px;
    }
}

.sixthSec .box .headLbl {
    font-weight: bold;
    color: #c94634;
    margin-bottom: 20px;
    @media (max-width: 2000px) and (min-width: 820px) {
        font-size: 45px;
    }
    @media (max-width: 820px) {
        font-size: 23px;
        text-align: center;
    }
}

.sixthSec .box .prph {
    font-family: "Open Sans", sans-serif;
    color: #000000;

    @media (max-width: 2000px) and (min-width: 820px) {
        font-size: 18px;
    }
    @media (max-width: 820px) {
        font-size: 16px;
        text-align: center;
    }
}

// ------------------------------------- Seventh section -------------------------------------
.seventhSec {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: white;
}

.seventhSec .phychLbl {
    font-size: 30px;
    color: #000000;

    @media (max-width: 2000px) and (min-width: 720px) {
        font-size: 30px;
    }

    @media (max-width: 720px) {
        font-size: 25px;
    }
}

.seventhSec .impLbl {
    color: #c94634;
    font-weight: bold;

    @media (max-width: 2000px) and (min-width: 720px) {
        font-size: 45px;
        margin-bottom: 75px;
    }

    @media (max-width: 720px) {
        font-size: 23px;
        margin-bottom: 40px;
    }
}

.seventhSec .box {
    background: #ffffff;
    border: 1px solid #cd5141;
    box-sizing: border-box;
    border-radius: 50px;
    display: inline-block;
    padding: 10px 25px;
    margin-right: 10px;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 10px;

    @media (max-width: 2000px) and (min-width: 720px) {
        font-size: 23px;
    }

    @media (max-width: 720px) {
        font-size: 16px;
    }
}
.seventhSec .boxesInfo {
    width: 100%;
    margin-bottom: 15px;
}
.seventhSec .box:hover {
    background-color: #cd5141;
    color: white;
}

// ------------------------------------- Eighth section -------------------------------------
.eighthSec {
    padding-top: 40px;
    padding-bottom: 40px;

    background-color: #c94634;
}

.eighthSec .queLbl {
    font-weight: bold;
    font-size: 23px;
    color: #ffffff;

    @media (max-width: 2000px) and (min-width: 720px) {
        display: inline-block;
    }
}

.eighthSec .queBtn {
    background: #ffffff;
    border-radius: 5px;
    color: #c94634;

    font-weight: 600;
    font-size: 21px;
    font-family: "Open Sans", sans-serif;
    border: 1px solid transparent;
    padding: 15px 30px;

    @media (max-width: 2000px) and (min-width: 720px) {
        margin-left: 80px;
    }
    @media (max-width: 720px) {
        display: block;
        font-size: 18px;
        margin-top: 25px;

        width: 70%;
        margin: auto;
    }
}

// ------------------------------------- ninth section -------------------------------------
.ninthSec {
    height: 700px;

    padding-top: 80px;
    padding-bottom: 80px;

    @media (max-width: 2000px) and (min-width: 950px) {
        background-image: url("../../../../assets/images/SportsClient/join\ us\ desktop.png");
        background-size: cover;
    }
    @media (max-width: 950px) and (min-width: 320px) {
        background-image: url("../../../../assets/images/SportsClient/join\ us\ mob.png");
        background-size: cover;
        background-repeat: round;
    }
    @media (max-width: 320px) {
        background-image: url("../../../../assets/images/SportsClient/join\ us\ mob.png");
        background-size: cover;
        background-repeat: round;
    }
}

.ninthSec .box {
    background: #ffffff;
    opacity: 0.92;
    border-radius: 5px;

    @media (max-width: 2000px) and (min-width: 1150px) {
        padding: 50px;
        // height: 450px;
    }
    @media (max-width: 1150px) and (min-width: 650px) {
        padding: 40px;
        // height: 550px;
    }
    @media (max-width: 650px) and (min-width: 400px) {
        padding: 40px;
        // height: 450px;
    }
    @media (max-width: 400px) {
        padding: 40px;
        // height: 550px;
    }
}

.ninthSec .jnLbl {
    color: #000000;
    @media (max-width: 2000px) and (min-width: 820px) {
        font-size: 30px;
    }
    @media (max-width: 820px) {
        font-size: 25px;
    }
}
.ninthSec .prgLbl {
    color: #cd5141;
    font-weight: bold;
    @media (max-width: 2000px) and (min-width: 820px) {
        font-size: 45px;
    }
    @media (max-width: 820px) {
        font-size: 23px;
    }
}

.ninthSec .prph {
    color: #182f43;
    margin-top: 20px;
    margin-bottom: 20px;
    @media (max-width: 2000px) and (min-width: 820px) {
        font-size: 18px;
    }
    @media (max-width: 820px) {
        font-size: 16px;
    }
}

.ninthSec .frmBtn {
    background-color: #cd5141;
    color: #ffffff;
    border: 1px solid #cd5141;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: "Open Sans", sans-serif;
    margin-top: 20px;

    @media (max-width: 2000px) and (min-width: 820px) {
        padding: 7px 50px;
        font-size: 21px;
    }

    @media (max-width: 820px) {
        // margin-top: 30px;
        font-size: 18px;
    }
}
.ninthSec .frmBtn:hover {
    background-color: #cd5141;
    color: #ffffff;
}

// ------------------------------------- form section -------------------------------------

.frmhead {
    color: #cd5141;
    @media (max-width: 2000px) and (min-width: 820px) {
        font-size: 35px;
        padding: 5px 15px;
    }
    @media (max-width: 820px) {
        font-size: 30px;
    }
}
.frmPrph {
    color: #000000;
    @media (max-width: 2000px) and (min-width: 820px) {
        font-size: 18px;
        padding: 5px 15px;
    }

    @media (max-width: 820px) {
        font-size: 16px;
    }
}
.inpType {
    background: #ffffff !important;
    border: 2px solid #e5e5e5;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 20px;
    font-family: "Open Sans", sans-serif;

    &::placeholder {
        color: #979797;
        opacity: 1;
    }
}

.inpType::placeholder {
    font-size: 12px;
    color: #999999;
    font-family: "Open Sans", sans-serif;
}

.frmLbl {
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
}

.sbmtBtn {
    background-color: #cd5141;
    color: #ffffff;
    border: 1px solid #cd5141;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: "Open Sans", sans-serif;
    margin-top: 30px;

    @media (max-width: 2000px) and (min-width: 820px) {
        padding: 7px 50px;
        font-size: 21px;
    }

    @media (max-width: 820px) {
        margin-top: 30px;
        font-size: 15px;
    }
}
.sbmtBtn:hover {
    background-color: #cd5141;
    color: #ffffff;
}
.fontIcon {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    width: 25px;

    @media (max-width: 700px) {
        width: 15px;
        right: 15px;
    }
}
.modalDrImg {
    @media (max-width: 2000px) and (min-width: 400px) {
        height: 200px;
    }

    @media (max-width: 400px) {
        height: 120px;
        // width: 100px;
    }
}
.modal-body{
    @media (max-width: 300px) {
        padding: 15px !important;
    }
}

.modal-header {
    border-bottom: 0px !important;
}
.modal-body {
    padding: 3rem;
}

.close {
    font-size: 45px;
    color: #c94634;
    font-weight: 100;
}

.ok .okImg {
    // width: 150px;
    margin-top: 100px;
    margin-bottom: 70px;

    @media (max-width: 2000px) and (min-width: 400px) {
        height: 200px;
    }
    @media (max-width: 400px) {
        height: 150px;
    }
}

.ok .doneLbl {
    text-align: center;
    color: #cd5141;

    @media (max-width: 2000px) and (min-width: 820px) {
        font-size: 25px;
    }

    @media (max-width: 820px) {
        font-size: 20px;
    }
}

.ok .cntctLbl {
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    color: #000000;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 100px;

    @media (max-width: 2000px) and (min-width: 820px) {
        font-size: 18px;
    }

    @media (max-width: 820px) {
        font-size: 16px;
    }
}

.fontIconClose {
    color: white;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 27px;
    // height: 27px;

    @media (max-width: 700px) {
        width: 15px;
        right: 15px;
    }
}

.metLbl {
    @media (max-width: 2000px) and (min-width: 820px) {
        font-size: 40px;
    }

    @media (max-width: 820px) {
        font-size: 20px;
    }
}
.drNmeLbl {
    font-weight: bold;
    color: #cd5141;

    @media (max-width: 2000px) and (min-width: 820px) {
        font-size: 45px;
    }

    @media (max-width: 820px) {
        font-size: 23px;
    }
}
.prphLbl {
    margin-top: 25px;
    color: #111111;

    @media (max-width: 2000px) and (min-width: 820px) {
        font-size: 18px;
    }

    @media (max-width: 820px) {
        font-size: 16px;
    }
}

::ng-deep .modal-dialog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-y: auto;
    min-height: calc(100vh - 60px);

    @media (max-width: 767px) {
        min-height: calc(100vh - 20px);
    }
}
