$primary-color:#54ccc3;
$primary-light-color:#54c2b9;
$primary-dark-color:#557d84;
$secondary-color:#cc789a;
$tertiary-color:#fff9ae;
$quaternary-color: #BAD9E7;
$quinary-color: #CCDBF0;
$quinary-dark-color: #6A7F92;
$black-color: #333333;
$gray-color: #9fa2aa;
$light-gray-color: #eef0f7;// 9fa2aa; a3b1bf
$dark-gray-color: #6c707d;
$white-color :white;
$transparent-color: transparent;
$header-color: white;
$footer-color: #54ccc3;

$error-color: #ff3548;
$warning-color: #ff8800;
$success-color: #01c850;

