.slider {
    // height             : 800px;
    padding-top        : 70px;
    margin-bottom      : 70px;
    background-image   : url(../../../../assets/images/slider/sliderBG.svg);
    background-position: center;
    background-repeat  : no-repeat;
    background-size    : cover;

}

::ng-deep .slider .ui-carousel-content .ui-carousel-dots-container.ui-helper-reset {
    display: none !important;
}

::ng-deep .ui-carousel-prev,
::ng-deep .ui-carousel-next {
    background   : #FFFFFF 0% 0% no-repeat padding-box !important;
    // box-shadow: 0px 10px 40px #0012581A !important;
    border       : 2px solid #16C0B480 !important;
    opacity      : 1 !important;
    color        : #16C0B480 !important;
    height       : 50px !important;
    width        : 50px !important;
    margin       : 35px;
}

.slider .card-body {
    padding-top   : 0;
    padding-bottom: 0;
}

.slider .prodName {
    font-family   : 'Quicksand', sans-serif;
    font-size     : 16px;
    font-weight   : bold;
    text-align    : left;
    letter-spacing: 0px;
    color         : #2A2A2A;
    opacity       : 1;
    height        : 100px;

}

.slider .head {
    font-weight: bold;
    font-family: 'Quicksand', sans-serif;
}

.slider .prodContent {
    font-family   : 'Quicksand', sans-serif;
    font-size     : 13px;
    letter-spacing: 0px;
    color         : #a8a2a2;
    text-align    : left;
    opacity       : 1;
    height        : 250px;
}

.slider .contact {
    // position: absolute;
    position: fixed;
    right   : 25px;
    bottom  : 25px;

}

.slider .contact .message {
    font-family  : 'Quicksand', sans-serif;
    height       : 170px;
    width        : 250px;
    border-radius: 15px;
    background   : #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow   : 0px 3px 6px #00000029;
    border       : 1px solid white;
    opacity      : 1;
    margin-top   : 50px;
}

.slider .contact .message::after {
    position     : absolute;
    width        : 15px;
    height       : 15px;
    border-top   : 0px solid white;
    border-right : 2px solid white;
    border-bottom: 2px solid white;
    border-left  : 0px solid white;
    right        : 20px;
    top          : 225px;
    content      : '';
    transform    : rotate(45deg);
    margin-top   : -15px;
    background   : white;

}

.slider .contact .message .head {
    padding-top: 30px;
    font-weight: bold;
    font-family: 'Quicksand', sans-serif;
    text-align : left;
    margin-left: 10px;
}

.slider .contact .message .content {
    font-family   : 'Quicksand', sans-serif;
    text-align    : left;
    font-size     : 15px;
    letter-spacing: 0px;
    color         : #2A2A2A;
    opacity       : 0.8;
}

.slider .contact .msgImg {
    width           : 40px;
    height          : 40px;
    background-color: #27C1B5;
    border-radius   : 50%;
    float           : right;
    margin-top      : 15px;
    margin-right    : 5px;
    cursor          : pointer;
}

.slider .contactModal {
    .butonSend {
        background-color: #27C1B5;
        color           : white;
        border-color    : #27C1B5;

    }
}

.space {
    height             : 800px;
    background-image   : url(../../../../assets/images/slider/PageIllustrationFinal.svg);
    background-position: center;
    background-repeat  : no-repeat;
    background-size    : cover;


    position: relative;
}



.space .pos .normal {
    font-family   : 'Quicksand', sans-serif;
    font-size     : 20px;
    letter-spacing: 0px;
    color         : #2A2A2A;
    opacity       : 1;

}

.space .pos .colored {
    font-family   : 'Quicksand', sans-serif;
    font-size     : 20px;
    letter-spacing: 0px;
    color         : #16C1B5;
    opacity       : 1;
}

.space .summer50 {
    font-family   : 'Quicksand', sans-serif;
    font-size     : 20px;
    letter-spacing: 0px;
    color         : #16C1B5;
    opacity       : 1;

    position: absolute;
    top     : 580px;
    left    : 260px;

}


.space .pos {
    position: absolute;
    top     : 400px;
    left    : 260px;
    padding : 15px 0 !important;
}

.space .btn {
    background   : #16C1B5 0% 0% no-repeat padding-box;
    border-radius: 111px;
    opacity      : 1;
    color        : white;
    width        : 150px;
    position     : absolute;
    top          : 670px;
    left         : 260px;
    padding      : 10px 0;

}

.space .adultType {
    position: absolute;
    width   : 85%;
}

.space .butn {
    background   : #16C1B5 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity      : 1;
    color        : white;
    width        : 100px;
    padding      : 5px 0;
    border       : 0;
    font-size    : 15px;
    font-weight  : bold;
}

.space .mat-radio-button {
    color      : black;
    display    : block;
    font-size  : 0.9em;
    font-weight: 500;
    font-family: 'Quicksand', sans-serif;
    font-size  : 10px;
}

::ng-deep .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color      : #0FBFB3 !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow   : none !important;
    box-shadow        : none !important;
}

::ng-deep .mat-radio-label {
    font-weight: 400 !important;
}


::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle,
.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple),
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple,
.mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
    background-color  : #0FBFB3 !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow   : none !important;
    box-shadow        : none !important;

}


@media only screen and (max-width: 2300px) and (min-width: 1000px) {
    .slider {
        height: 700px;
    }

}

@media only screen and (max-width: 300px) and (min-width: 0px) {

    .slider .prodName {
        font-size: 14px;
        height   : 130px;

    }
}

@media only screen and (max-width: 1200px) and (min-width: 1000px) {

    .slider .prodName {
        font-size: 14px;
    }
}

@media only screen and (max-width: 1000px) and (min-width: 750px) {

    .slider .prodName {
        font-size: 12px;
        height   : 120px;

    }
}



@media only screen and (max-width: 3000px) and (min-width: 2300px) {
    .space {
        height: 960px;
    }

    .space .pos {
        position: absolute;
        top     : 500px;
        left    : 400px;
        padding : 15px;
    }

    .space .summer50 {

        position: absolute;
        top     : 660px;
        left    : 400px;

    }

    .space .btn {
        position: absolute;
        top     : 750px;
        left    : 400px;

    }

}

@media only screen and (max-width: 2300px) and (min-width: 2150px) {
    .space {
        height: 960px;
    }

    .space .pos {
        position: absolute;
        top     : 500px;
        left    : 350px;
        padding : 15px;
    }

    .space .summer50 {

        position: absolute;
        top     : 660px;
        left    : 350px;

    }

    .space .btn {
        position: absolute;
        top     : 750px;
        left    : 350px;

    }

}

@media only screen and (max-width: 2150px) and (min-width: 2000px) {
    .space {
        height: 960px;
    }

    .space .pos {
        position: absolute;
        top     : 500px;
        left    : 350px;
        padding : 15px;
    }

    .space .summer50 {

        position: absolute;
        top     : 660px;
        left    : 350px;

    }

    .space .btn {
        position: absolute;
        top     : 750px;
        left    : 350px;

    }

}

@media only screen and (max-width: 2000px) and (min-width: 1800px) {
    .space {
        height: 960px;
    }

    .space .pos {
        position: absolute;
        top     : 500px;
        left    : 350px;
        padding : 15px;
    }

    .space .summer50 {

        position: absolute;
        top     : 660px;
        left    : 350px;

    }

    .space .btn {
        position: absolute;
        top     : 750px;
        left    : 350px;

    }

}

@media only screen and (max-width: 1800px) and (min-width: 1600px) {
    .space {
        height: 960px;
    }

    .space .pos {
        position: absolute;
        top     : 500px;
        left    : 260px;
        padding : 15px;
    }

    .space .summer50 {

        position: absolute;
        top     : 660px;
        left    : 260px;

    }

    .space .btn {
        position: absolute;
        top     : 750px;
        left    : 260px;

    }

}

@media only screen and (max-width: 1600px) and (min-width: 1400px) {
    .space {
        height: 820px;
    }

    .space .pos {
        position: absolute;
        top     : 400px;
        left    : 260px;
    }

    .space .summer50 {

        position: absolute;
        top     : 560px;
        left    : 260px;

    }

    .space .btn {
        position: absolute;
        top     : 650px;
        left    : 260px;

    }

}

@media only screen and (max-width: 1400px) and (min-width: 1350px) {
    .space {
        height         : 620px;
        background-size: contain;
    }

    .space .pos .normal,
    .space .pos .colored {
        font-size: 15px !important;
    }


    .space .pos {
        position: absolute;
        top     : 300px;
        left    : 320px;
    }

    .space .summer50 {

        position : absolute;
        top      : 420px;
        left     : 320px;
        font-size: 15px !important;

    }


    .space .btn {
        position: absolute;
        top     : 480px;
        left    : 320px;
        padding : 5px;

    }
}

@media only screen and (max-width: 1350px) and (min-width: 1250px) {
    .space {
        height         : 620px;
        background-size: contain;
    }

    .space .pos .normal,
    .space .pos .colored {
        font-size: 15px !important;
    }


    .space .pos {
        position: absolute;
        top     : 300px;
        left    : 280px;
    }

    .space .summer50 {

        position : absolute;
        top      : 420px;
        left     : 280px;
        font-size: 15px !important;

    }


    .space .btn {
        position: absolute;
        top     : 480px;
        left    : 280px;
        padding : 5px;

    }
}


@media only screen and (max-width: 1250px) and (min-width: 1100px) {
    .space {
        height         : 720px;
        background-size: contain;
    }

    .space .pos .normal,
    .space .pos .colored {
        font-size: 15px !important;
    }


    .space .pos {
        position: absolute;
        top     : 350px;
        left    : 200px;
    }

    .space .summer50 {

        position: absolute;
        top     : 480px;
        left    : 200px;

    }


    .space .btn {
        position: absolute;
        top     : 550px;
        left    : 200px;
        padding : 5px;

    }

}

@media only screen and (max-width: 1100px) and (min-width: 1000px) {
    .space {
        height         : 800px;
        background-size: contain;
    }

    .space .pos .normal,
    .space .pos .colored {
        font-size: 16px !important;
    }

    .space .pos {
        position: absolute;
        top     : 380px;
        left    : 190px;
    }

    .space .summer50 {

        position : absolute;
        top      : 500px;
        left     : 190px;
        font-size: 16px !important;

    }


    .space .btn {
        position: absolute;
        top     : 560px;
        left    : 190px;
        padding : 5px;

    }

}

@media only screen and (max-width: 1000px) and (min-width: 850px) {
    .space {
        height             : 1400px;
        background-image   : url(../../../../assets/images/slider/spaceBackgroundResponsive.svg);
        background-position: inherit;
        background-size    : contain;

        // background-color: white;
    }


    .space .pos {
        position           : absolute;
        top                : 250px;
        left               : 70px;
        // background-color: rgba(31, 27, 27, 0.8);
        border-radius      : 5px;
    }

    .space .summer50 {

        position: absolute;
        top     : 420px;
        left    : 70px;

    }

    .space .btn {
        position: absolute;
        top     : 460px;
        left    : 70px;

    }

    .space .adultType {
        position: absolute;
        top     : 460px;
        left    : 70px;
    }




}

@media only screen and (max-width: 850px) and (min-width: 750px) {
    .space {
        height             : 1400px;
        background-image   : url(../../../../assets/images/slider/spaceBackgroundResponsive.svg);
        // background-color: white;
    }


    .space .pos {
        position           : absolute;
        top                : 220px;
        left               : 70px;
        // background-color: rgba(31, 27, 27, 0.8);
        border-radius      : 5px;
    }

    .space .summer50 {

        position: absolute;
        top     : 390px;
        left    : 70px;

    }

    .space .btn {
        position: absolute;
        top     : 440px;
        left    : 70px;

    }

    .space .adultType {
        position: absolute;
        top     : 440px;
        left    : 70px;
    }


}


@media only screen and (max-width: 750px) and (min-width: 600px) {
    // .slider {
    //     height: 750px;
    // }

    .slider .header {
        font-size: 23px;
    }

    .space {
        height             : 1200px;
        background-image   : url(../../../../assets/images/slider/spaceBackgroundResponsive.svg);
        background-size    : contain;
        // background-color: white;
    }

    .space .pos {
        position           : absolute;
        top                : 200px;
        left               : 50px;
        // background-color: rgba(31, 27, 27, 0.8);
        border-radius      : 5px;
    }

    .space .summer50 {

        position: absolute;
        top     : 350px;
        left    : 50px;

    }

    // .space .pos .normal {
    //     color: white;
    // }
    .space .pos .normal,
    .space .pos .colored {
        font-size: 18px !important;
    }

    .space .btn {
        position: absolute;
        top     : 400px;
        left    : 50px;

    }

    .space .adultType {
        position: absolute;
        top     : 400px;
        left    : 50px;
    }

}

@media only screen and (max-width: 600px) and (min-width: 475px) {
    .slider {
        margin-top : 10px;
        padding-top: 10px;
    }

    .slider .header {
        font-size: 20px;
    }

    .space {
        height             : 1000px;
        background-image   : url(../../../../assets/images/slider/spaceBackgroundResponsive.svg);
        background-size    : contain;
        // background-color: white;
    }

    .space .pos {
        position           : absolute;
        top                : 210px;
        left               : 50px;
        // background-color: rgba(31, 27, 27, 0.8);
        border-radius      : 5px;
    }

    .space .summer50 {

        position: absolute;
        top     : 360px;
        left    : 50px;

    }

    // .space .pos .normal {
    //     color: white;
    // }
    .space .pos .normal,
    .space .pos .colored {
        font-size: 18px !important;
    }

    .space .btn {
        position: absolute;
        top     : 400px;
        left    : 50px;

    }

    .space .adultType {
        position: absolute;
        top     : 400px;
        left    : 50px;
    }

}

@media only screen and (max-width: 475px) and (min-width: 300px) {
    .slider {
        margin-top : 10px;
        padding-top: 10px;
    }

    .slider .header {
        font-size: 20px;
    }

    .space {
        height             : 600px;
        background-image   : url(../../../../assets/images/slider/spaceBackgroundResponsive.svg);
        background-position: inherit;
        background-size    : contain;
        // background-color: white;
    }

    .space .pos {
        position           : absolute;
        top                : 80px;
        left               : 30px;
        // background-color: rgba(31, 27, 27, 0.8);
        border-radius      : 5px;
    }

    .space .summer50 {

        position : absolute;
        top      : 240px;
        left     : 30px;
        font-size: 15px !important;

    }

    // .space .pos .normal {
    //     color: white;
    // }
    .space .pos .normal,
    .space .pos .colored {
        font-size: 15px !important;
    }

    .space .btn {
        position: absolute;
        top     : 270px;
        left    : 30px;
        padding : 5px;

    }

    .space .adultType {
        position: absolute;
        top     : 270px;
        left    : 30px;
    }

}


@media only screen and (max-width: 300px) and (min-width: 0px) {
    .slider {
        margin-top : 10px;
        padding-top: 10px;
    }

    .slider .header {
        font-size: 20px;
    }

    .space {
        height             : 600px;
        background-image   : url(../../../../assets/images/slider/spaceBackgroundResponsive.svg);
        background-position: inherit;
        background-size    : contain;
        // background-color: white;
    }

    .space .pos {
        position           : absolute;
        top                : 60px;
        left               : 30px;
        // background-color: rgba(31, 27, 27, 0.8);
        border-radius      : 5px;

    }

    .space .summer50 {

        position : absolute;
        top      : 240px;
        left     : 30px;
        font-size: 12px;

    }

    // .space .pos .normal {
    //     color: white;
    // }
    .space .pos .normal,
    .space .pos .colored {
        font-size: 12px !important;
    }

    .space .btn {
        position : absolute;
        top      : 270px;
        left     : 30px;
        font-size: 12px;
        padding  : 5px;
    }

    .space .adultType {
        position: absolute;
        top     : 270px;
        left    : 30px;
    }

}





@media only screen and (max-width: 700px) and (min-width: 0px) {
    .slider .contact .message .head {
        padding-top: 15px;
        font-size  : 17px;
    }

    .slider .contact .message {
        height: 130px;
    }

    .slider .contact .message::after {
        position: absolute;
        right   : 20px;
        top     : 185px;

    }


    .slider .contact .message .content {
        font-size: 15px;
    }

}

@media only screen and (max-width: 990px) and (min-width: 550px) {
    .slider .header {
        font-size: 26px;
    }

}


.modal.show .modal-dialog {
    transform : none;
    margin-top: 8%;
}